<!-- Header -->
<div class="relative bg-eateasy-secondary md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="REVENUE THIS MONTH"
            statTitle="15 240 SEK"
            statArrow="down"
            statPercent="14"
            statPercentColor="text-red-500"
            statDescripiron="Since last month"
            statIconName="fas fa-chart-pie"
            statIconColor="bg-eateasy-primary"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="REVENUE THIS YEAR"
            statTitle="30 570 SEK"
            statArrow="down"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron="REMOVE THIS"
            statIconName="fas fa-users"
            statIconColor="bg-eateasy-primary"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="ORDERS THIS MONTH"
            statTitle="350"
            statArrow="up"
            statPercent="3.5"
            statPercentColor="text-emerald-500"
            statDescripiron="Since last month"
            statIconName="far fa-chart-bar"
            statIconColor="bg-eateasy-primary"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="ORDERS THIS YEAR"
            statTitle="724"
            statArrow="up"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron="REMOVE THIS"
            statIconName="fas fa-users"
            statIconColor="bg-eateasy-primary"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
